/* ############ Reset Styling ############ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############ General Styling ############ */
body {
  font-family: 'Roboto', sans-serif;
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  background-color: #d9b327;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #e02a0f;
}

ul {
  list-style: none;
}

footer {
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
}

/* ############ Styling ############ */
.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;

  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
}

.navLinks {
  display: flex;
  gap: 50px;
}

.logo {
  color: #e02a0f;
}
